{{> header }}
{{> deliveryHeader }}
{{!-- {{ console.log(req.user.role) }} --}}


<section class="page_breadcrumbs ds color parallax section_padding_top_20 section_padding_bottom_20">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="text-uppercase">Delivery Agent Portal</h2>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $(".sa_field").prop("disabled", true);
    });
</script>
<section class="ls section_padding_top_30 section_padding_bottom_30">
    <div class="container">
        <div class="row">
            <form class="sales_profile" id="sa_profile" role="form">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group validate-required" id="sales_name_field"> <label for="ui_name"
                            class="control-label">
                            <span class="grey">Name:</span>
                        </label> <input type="text" class="form-control sa_field" name="ui_name" id="ui_name"
                            placeholder="" value="{{name}}">
                    </div>
                    <div class="form-group validate-required" id="sales_mobile_field"> <label for="ui_primary_mobile"
                            class="control-label">
                            <span class="grey">Primary mobile:</span>
                        </label> <input type="text" class="form-control sa_field" name="ui_primary_mobile" id="ui_primary_mobile"
                            placeholder="" value="{{primaryMobile}}">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group" id="billing_company_field"> <label for="ui_email" class="control-label">
                            <span class="grey">E-mail</span>
                        </label> <input type="email" class="form-control sa_field" name="ui_email" id="ui_email"
                            placeholder="" value="{{email}}">
                    </div>
                    <div class="form-group validate-required" id="sales_smobile_field"> <label for="ui_secondary_mobile"
                            class="control-label">
                            <span class="grey">Secondary mobile:</span>
                        </label> <input type="text" class="form-control sa_field" name="ui_secondary_mobile" id="ui_secondary_mobile"
                            placeholder="" value="{{secondaryMobile}}">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group address-field validate-required" id="sales_address_fields"> <label
                            for="ui_address" class="control-label">
                            <span class="grey">Address:</span>
                        </label> <input type="text" class="form-control sa_field" name="ui_address"
                            id="ui_address" placeholder="" value="{{address}}" required>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group"> <label for="ui_cuty" class="control-label">
                            <span class="grey">City/Town:</span></label>
                        <select class="form-control sa_field" name="ui_cuty" id="ui_cuty">
                            <option value="" selected="selected">Select a state</option>
                            <option value="{{city}}" selected="selected">{{city}}</option>
                        </select>
                    </div>
                    <div class="form-group"> <label for="ui_state" class="control-label">
                            <span class="grey">State/Province:</span></label>
                        <select class="form-control sa_field" name="ui_state" id="ui_state">
                            <option value="" selected="selected">Select a state</option>
                            <option value="{{state}}" selected="selected">{{state}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group address-field validate-required validate-postcode"
                        id="billing_postcode_field"> <label for="ui_pincode" class="control-label">
                            <span class="grey">Postcode:</span>
                        </label> <input type="text" class="form-control sa_field" name="ui_pincode"
                            id="ui_pincode" placeholder="" value="{{pincode}}">
                    </div>
                    <div class="form-group"> <label for="ui_country" class="control-label">
                            <span class="grey">Country:</span></label>
                        <select class="form-control sa_field" name="ui_country" id="ui_country">
                            <option value="" selected="selected">Select a country</option>
                            <option value="{{country}}" selected="selected">{{country}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12">
                    {{!-- <button id="sa_edit" class="theme_button wide_button color1 topmargin_40">Edit Details</button>
                    <button type="submit" class="theme_button wide_button">Update Details</button> --}}
                    <button type="button" data-toggle="modal" data-target="#myModal" id="sa_upass"
                        class="theme_button wide_button color2 topmargin_40 pull-right">Change password</button>
                </div>
                <div class="modal fade" id="myModal" role="dialog" style="z-index:99999">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Change Password</h4>
                            </div>
                            <div class="modal-body">
                                <div calss="container-fluid">
                                    <form class="form-horizontal tpad" role="form" method="post" action=""
                                        enctype="multipart/form-data">
                                        <div class="form-group">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <input type="password" name="ui_current_password" class="form-control"
                                                    id="ui_current_password" placeholder="Current Password" required>
                                                <input type="password" name="ui_new_password" style="margin-top:15px;"
                                                    class="form-control" id="ui_new_password" placeholder="New Password"
                                                    required>
                                                <input type="password" name="ui_re_new_password"
                                                    style="margin-top:15px;" class="form-control"
                                                    id="ui_re_new_password" placeholder="Re-Enter New Password"
                                                    required>
                                                <button type="submit" style="margin-top:15px;" name="quick_apply"
                                                    class="btn btn-primary pull-right">Change Password</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                </br></br>
                                <div class="modal-footer">
                                    <div class="col-md-offset-1 col-md-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        const fields = $(".sa_field");
        fields.prop("disabled", true);

        $("#sa_edit").click(function () {
            if (fields.attr("disabled"))
                fields.attr("disabled", false);
            else
                fields.attr("disabled", true)
        });
    });
</script>

{{> footer-end}}